# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

brandy/*

bsp/*

build/*
!build/*

device/*
!device/config
device/config/*
!device/config/chips
device/config/chips/*
!device/config/chips/v821
device/config/chips/v821/*
!device/config/chips/v821/configs
device/config/chips/v821/configs/*
!device/config/chips/v821/configs/avaota_f1

docs/

kernel/*

openwrt/*
!openwrt/target
openwrt/target/*
!openwrt/target/v821
openwrt/target/v821/*
!openwrt/target/v821/v821-avaota_f1
!openwrt/target/v821/v821-avaota_f1/busybox-init-base-files
!openwrt/target/v821/v821-avaota_f1/busybox-init-base-files/etc
!openwrt/target/v821/v821-avaota_f1/busybox-init-base-files/etc/init.d

!openwrt/package
openwrt/package/*
!openwrt/package/*
openwrt/package/allwinner
openwrt/package/feeds
openwrt/package/thirdparty


platform/*
!platform/allwinner
platform/allwinner/*
!platform/allwinner/eyesee-mpp
platform/allwinner/eyesee-mpp/*
!platform/allwinner/eyesee-mpp/middleware
platform/allwinner/eyesee-mpp/middleware/*
!platform/allwinner/eyesee-mpp/middleware/sun300iw1
platform/allwinner/eyesee-mpp/middleware/sun300iw1/*
!platform/allwinner/eyesee-mpp/middleware/sun300iw1/sample
platform/allwinner/eyesee-mpp/middleware/sun300iw1/sample/*
!platform/allwinner/eyesee-mpp/middleware/sun300iw1/sample/bin
!platform/allwinner/eyesee-mpp/middleware/sun300iw1/sample/bin/*

rtos/*
!rtos/lichee
rtos/lichee/*
!rtos/lichee/rtos
rtos/lichee/rtos/*
!rtos/lichee/rtos/projects
rtos/lichee/rtos/projects/*
!rtos/lichee/rtos/projects/v821_e907
rtos/lichee/rtos/projects/v821_e907/*
!rtos/lichee/rtos/projects/v821_e907/avaota_f1

tools/*

out/
prebuilt/
.disclaimer_accpet
.buildconfig
compile_commands.json
.cache/
